@keyframes LoadingDot {
  100% {
    transform: rotate(360deg); } }

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #333; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #f7f7f7;
  line-height: 1.7; }

.heading-secondary, .heading-secondary:link, .heading-secondary:visited {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  letter-spacing: 2px; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 300; }

.warning {
  font-size: 2rem;
  text-align: center;
  background-color: rgba(232, 72, 85, 0.5);
  padding: 1.5rem;
  border-radius: 3px;
  border: 1px solid orangered; }

.u-display-inline {
  display: inline; }

.u-display-inline-block {
  display: inline-block; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  background-color: #392061;
  display: flex;
  justify-content: space-between; }
  .header__left {
    height: auto; }
  .header__right {
    width: 30%;
    display: flex;
    justify-content: space-around; }

.main {
  margin-top: 7.7rem;
  padding: 5rem; }

.stream__list {
  width: 100%; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  display: inline-block;
  width: auto;
  padding: 0.5rem 1rem;
  color: #f7f7f7;
  text-transform: uppercase;
  border-radius: 2px;
  text-decoration: none;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  border: none; }

.btn--primary {
  background-color: #822E81; }

.btn--negative {
  background-color: #E84855; }

.btn--neutral {
  background-color: #f7f7f7;
  color: #822E81; }

.btn:hover, .btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.loading-box {
  display: flex;
  align-items: center; }
  .loading-box__loading {
    height: 3rem;
    width: 3rem;
    border-radius: 10rem;
    border: 2px dashed #822E81;
    animation: LoadingDot 1s linear infinite;
    margin-right: 1rem; }

.form {
  font-size: 2rem;
  width: 100%;
  text-align: center; }
  .form__group {
    display: flex;
    width: 100%; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
  .form__message {
    width: 50%;
    margin-left: 2rem; }
  .form__label {
    width: 50%;
    text-align: right;
    text-transform: capitalize;
    margin-right: 1rem; }
  .form__input {
    width: 50%;
    padding-left: 1.5rem; }
  .form__error {
    color: orangered;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem; }

.stream {
  padding: 2rem;
  background-image: linear-gradient(to bottom, #f7f7f7 0%, #f7f7f7 50%, #822E81 50%);
  background-size: 100% 200%;
  background-position: 100% 0;
  border-radius: 3px;
  display: flex;
  transition: all .3s;
  position: relative; }
  .stream:not(:last-child) {
    margin-bottom: 3rem; }
  .stream__info {
    display: flex;
    justify-content: space-around;
    color: #822E81;
    width: 90%;
    font-size: 2rem; }
    .stream__info--title {
      width: 30%;
      text-align: left; }
    .stream__info--desc {
      width: 70%;
      text-align: center;
      font-size: 1.5rem; }
  .stream__creator {
    display: flex;
    position: absolute;
    right: 10rem; }
    .stream__creator--icon {
      transform: scale(3) translateY(3px);
      color: #822E81;
      margin-right: 4rem;
      transition: all .2s; }
      .stream__creator--icon:hover, .stream__creator--icon:active {
        transform: scale(3.5) translateY(3px); }
  .stream__enter {
    color: #822E81;
    width: 10%;
    float: right;
    text-align: right;
    padding-right: 2rem; }
    .stream__enter--icon {
      color: #822E81;
      transform: scale(4) translateY(2.5px);
      transition: all .3s;
      cursor: pointer; }
      .stream__enter--icon:hover {
        transform: translateX(0.7rem) scale(4) translateY(2.5px); }
  .stream:hover, .stream:active {
    background-position: 100% 100%; }
    .stream:hover *, .stream:active * {
      color: #f7f7f7; }

.card {
  border: 1px solid #f7f7f7;
  padding: 2rem;
  display: inline-block; }
  .card__heading {
    margin-bottom: 1rem; }
  .card__content {
    padding: 1rem; }
  .card__stream {
    padding: 1rem;
    border-bottom: 2px dashed #822E81;
    font-weight: 400; }
  .card__btns {
    padding: 1rem;
    display: flex;
    justify-content: space-between; }
